TYPEORM_CONNECTION = postgres
TYPEORM_HOST = database_host
TYPEORM_USERNAME = database_username
TYPEORM_PASSWORD = database_password
TYPEORM_DATABASE = database_name
TYPEORM_PORT = 5432
GOOGLE_CLIENT_ID=from google credentials
GOOGLE_CLIENT_SECRET=from google credentials
JWT_SECRET=set_some_token_secret